@import url('https:fonts.googleapis.com/css?family=Montserrat:200');

/* Variaveis Globais */
:root{
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #121212;
    --primary-color: #E8F9FD;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

/* Estilos para h1,h2,h3 */
#ajuda{
    margin-top: 20px;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 4em;
}

h3{
    font-size: 2em;
    margin-top: 20px;
}

.ajudatexto{
    text-align: left;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

/* Botoes */
.btn-jogar{
    padding: 8px 15px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}

.btn-ajuda{
    padding: 8px 15px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}

/* Letra da forca */
#letrasdiv{
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

#letra{
    width: 0.8em;
    font-size: 3.5em;
    margin: 5px;
    border-bottom: 5px solid var(--primary-color);
    padding: 5px;
}

@media (max-width: 440px) {

    #letra{
        font-size: 1.5em;
        border-bottom: 2px solid var(--primary-color);
        margin: 3px;
        padding: 3px;
    }

    .box{
        font-size: 2.5em;
    }

    h1{
        font-size: 3em;
        width: 50%;
    }
}